mixin headerLogo()
		#header-logo.row
			.col-sm-8.col-md-6
				.header-logo-wrapper
					img.header-logo(src=site.logo)

mixin headerText(title)
	h1.page-title#page-title!= typogr.typogrify(title)

mixin header(options)
	- var opts = options || {};
	- var showLogo = opts.logo === false ? false : true
	- var showBreadcrumbs = opts.breadcrumbs === false ? false : true
	- var showPagetitle = opts.title === false ? false : true
	header#header
		if showLogo
			+headerLogo()
		if showBreadcrumbs
			include ../components/breadcrumbs
		if showPagetitle
			+headerText(title)