extends ./layout

mixin galleryItem(galleryItemFile)
  .col-sm-6.col-md-4
    .gallery-image-wrapper(style=`background-image:url(${contentfulImage(galleryItemFile.image)});`)
      .content
        a(href=galleryItemFile.path).gallery-image-thumbnail-link

block header
  include ./layout/header
  +header({breadcrumbs:false})
block content
  #content
    .row
      div(class=contents?'col-md-8 col-md-push-4':'col-md-12')
        .row
          if galleryItemFiles && galleryItemFiles.length
            each galleryItemFile in galleryItemFiles
              +galleryItem(galleryItemFile)
      if contents
        .col-md-4.col-md-pull-8
          != contents
