extends ./layout

mixin galleryItem(imageUrl)
  .col-sm-6.col-md-4
    .gallery-image-wrapper(style=`background-image:url(${imageUrl});`)
      .content
        a(href=imageUrl).gallery-image-thumbnail-link

block header
  .row
    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      include ./layout/header
      +header({breadcrumbs:false})
block content
  #content
    include ./components/breadcrumbs
    .row
      main.col-md-4
        != contents
      aside.col-md-8
        .row
          if galleryItems && galleryItems.length
            each galleryItem in galleryItems
              +galleryItem(contentfulImage(galleryItem.fields.image))
          if images && images.length
            each image in images
              +galleryItem(contentfulImage(image))
              